.apple {
  background: url("../img/icon/apple.svg");
  width: 20px;
  height: 20px;
}
.arrow-down {
  background: url("../img/icon/arrow-down.svg");
  width: 40px;
  height: 40px;
}
.google-play {
  background: url("../img/icon/google-play.svg");
  width: 20px;
  height: 20px;
}
.instagram {
  background: url("../img/icon/insta.svg");
  width: 56px;
  height: 56px;
}
.kaspi {
  background: url("../img/icon/kaspi.png");
  width: 28px;
  height: 28px;
}
.rhombus {
  background: url("../img/icon/rhombus.svg");
  width: 24px;
  height: 24px;
}
.telegram {
  background: url("../img/icon/telegram.svg");
  width: 56px;
  height: 56px;
}
.tiktok {
  background: url("../img/icon/tiktok.svg");
  width: 56px;
  height: 56px;
}
.whatsapp {
  background: url("../img/icon/whatsapp.svg");
  width: 56px;
  height: 56px;
}
.whatsapp-sm {
  background: url("../img/icon/whatsapp.svg");
  width: 32px;
  height: 32px;
}
.play {
  background: url("../img/icon/play.svg");
  width: 81px;
  height: 81px;
}