//desktops
@media (max-width: 1399px) {
  .poster-content {
    padding: 20px 0 40px;
  }
  .poster-title {
    font-size: 48px;
    line-height: 70px;
    span {
      line-height: 64px;
    }
  }
  .poster-description {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .poster-description-left {
    p {
      font-size: 24px;
    }
  }
  .course-program-tools {
    margin-top: 15px;
  }
  .poster-img {
    left: 565px;
  }
  .scroll-down {
    bottom: 45px;
  }
  .contact {
    width: 690px;
  }
  .section {
    padding: 70px 0;
  }
  .about-container {
    padding: 30px;
    gap: 30px;
  }
  .about-item-title {
    font-size: 36px;
  }
  .about .app-img img {
    width: 250px;
  }
  .about .app-caption {
    padding-right: 215px;
  }
  .section-title {
    font-size: 48px;
    letter-spacing: -2px;
  }
  .feature-img img {
    width: 550px;
    bottom: -70px;
  }
  .feature-caption {
    width: 545px;
  }
  .modules {
    width: 600px;
  }
  .module {
    padding: 17px 24px;
  }
  .module-head b {
    font-size: 24px;
    line-height: 28px;
  }
  .app-1 .app-img img {
    width: 550px;
  }
  .tariff-card {
    padding: 24px 20px;
  }
  .tariff-badge {
    padding: 5px 14px;
    font-size: 20px;
  }
  .tariffs-price {
    font-size: 40px;
  }
  .tariffs-features {
    margin-top: 30px;
    gap: 12px;
  }
  .tariff-additional p {
    line-height: 18px;
  }
  .for-whom-caption {
    padding: 24px;
  }
  .for-whom-caption h2 {
    font-size: 44px;
  }
  .green-flower-list {
    gap: 10px;
  }
  .green-flower-list li {
    padding-left: 40px;
    font-size: 17px;
    line-height: 130%;
  }
  .green-flower-list li:before {
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }
  .for-whom:nth-of-type(2) .for-whom-caption {
    padding: 24px 40px;
  }
  .for-whom-caption h2 br {
    display: none;
  }
  .number-list {
    gap: 10px;
  }
  .number-list li p {
    font-size: 17px;
    line-height: 130%;
  }
  .number-list li span {
    width: 35px;
    height: 35px;
    font-size: 28px;
  }
  .app-2 .app-img img {
    width: 500px;
    bottom: -70px;
  }
  .faq-item-head {
    font-size: 24px;
    line-height: 130%;
  }
  .consultation-container-left {
    width: 700px;
    h2 {
      font-size: 40px;
    }
  }
}

//desktops
@media (max-width: 1199px) {
  .poster-description {
    padding-left: 60px;
  }
  .poster-img {
    left: 415px;
  }
  .scroll-down {
    bottom: 110px;
  }
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 40px;
  }
  .contact {
    width: 510px;
  }
  .contact p {
    font-size: 18px;
  }
  .contact-phone {
    font-size: 36px;
  }
  .app-title {
    font-size: 32px;
    letter-spacing: -1.12px;
  }
  .about .app-img {
    display: none;
  }
  .about .app-caption {
    padding-right: 0;
  }
  .feature-list {
    margin-top: 20px;
    gap: 10px;
  }
  .feature-caption {
    width: 500px;
  }
  .feature-img img {
    width: 460px;
    bottom: -60px;
    right: -30px;
  }
  .modules {
    width: 500px;
  }
  .app-1 .app-caption {
    padding-right: 450px;
  }
  .app-1 .app-img img {
    width: 450px;
  }
  .expert-item {
    gap: 15px;
  }
  .expert-img {
    width: 150px;
    height: 190px;
  }
  .expert-name {
    font-size: 26px;
    line-height: 30px;
  }
  .expert-detail {
    margin-top: 15px;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .btn {
    padding: 14px 18px;
    span {
      font-size: 14px;
    }
  }
  .btn-green {
    padding: 9px 18px;
  }
  .for-whom {
    grid-template-columns: 1fr;
  }
  .for-whom-img {
    display: none;
  }
  .app-2 .app-caption {
    padding-right: 450px;
  }
  .app-2 .app-img img {
    width: 450px;
    bottom: -60px;
  }
  .faq-item-head {
    padding: 15px 56px 15px 15px;
    font-size: 20px;
    line-height: 24px;
  }
  .faq {
    width: 750px;
  }
  .faq:before {
    left: -150px;
  }
  .faq-item-body {
    padding: 0 15px 15px;
  }
  .video-container:before, .video-container:after {
    display: none;
  }
  .consultation-container-left {
    width: 580px;
    h2 {
      font-size: 36px;
    }
  }
  .social-list {
    grid-template-columns: 1fr 1fr;
  }
}

//tablets
@media (max-width: 991px) {
  .poster {
    height: fit-content;
    min-height: initial;
    max-height: initial;
  }
  .poster-content {
    padding: 30px 0;
  }
  .header {
    order: 1;
    padding: 0;
    background: none;
    box-shadow: none;
    width: 100%;
  }
  .nav-menu {
    position: fixed;
    background: #fff;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 60px 40px;
    z-index: 5;
    flex-direction: column;
    gap: 25px;
    transition: 0.2s ease;
    transform: translateX(-100%);
    &.show {
      transform: translateX(0);
    }
  }
  .nav-link {
    font-size: 20px;
  }
  .close-nav-menu {
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    span {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 1px;
      background: #00A7E5;
    }
    span:first-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    span:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  .header-tools {
    margin-left: auto;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.16);
    padding: 4px 12px 4px 4px;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .header .btn-main {
    padding: 7px 8px;
    span {
      font-size: 14px;
    }
  }
  .toggle-mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    position: relative;
    span {
      width: 20px;
      height: 1px;
      background: #00A7E5;
      transition: 0.2s ease;
      position: relative;
    }
    &.active span:nth-of-type(1) {
      transform: translateY(5px) rotate(-45deg);
    }
    &.active span:nth-of-type(2) {
      opacity: 0;
      visibility: hidden;
    }
    &.active span:nth-of-type(3) {
      transform: translateY(-5px) rotate(45deg);
    }
  }
  .poster-title {
    order: 2;
    margin-top: 45px;
    font-size: 48px;
    span {
      line-height: 48px;
    }
  }
  .poster-description {
    order: 3;
    padding: 0;
    display: block;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .poster-description-left p {
    font-size: 24px;
  }
  .course-program-tools {
    display: none;
  }
  .poster-description-right {
    margin-top: 35px;
    b {
      text-align: left;
    }
    ul {
      align-items: flex-start;
    }
  }
  .poster-img {
    height: 70%;
  }
  .scroll-down {
    display: none;
  }
  .course-program-tools-sm {
    order: 4;
    display: flex;
    gap: 15px;
    margin-top: 60px;
  }
  .footer-top {
    flex-direction: column;
  }
  .contact {
    width: 100%;
  }
  .footer-bottom {
    display: none;
  }
  .about {
    flex-direction: column;
  }
  .about-container {
    width: 100%;
  }
  .feature-img {
    display: none;
  }
  .feature-caption {
    width: 100%;
  }
  .structure {
    flex-direction: column;
  }
  .structure-desc {
    width: 100%;
    margin: 0;
  }
  .program {
    flex-direction: column;
    gap: 30px;
  }
  .program-subtitle {
    margin-top: 25px;
  }
  .modules {
    width: 100%;
  }
  .app-1 .app-caption {
    padding-right: 0;
    padding-bottom: 450px;
  }
  .app-1 .app-img img {
    right: initial;
    top: initial;
    left: -30px;
    transform: none;
    bottom: -20px;
  }
  .experts-list {
    grid-template-columns: 1fr;
  }
  .tariffs-list {
    grid-template-columns: 1fr;
  }
  .tariff-card:first-child:before {
    content: none;
  }
  .app-2 .app-caption {
    padding-right: 0;
  }
  .app-2 .app-img {
    display: none;
  }
  .faq {
    width: 100%;
  }
  .faq:before {
    content: none;
  }
  .lang-toggle {
    position: absolute;
    left: 215px;
    top: 35px;
    z-index: 15;
  }
  .video {
    padding: 60px 0 0;
  }
  .video-title {
    font-size: 40px;
  }
  .video-container {
    width: 650px;
    height: 376px;
    padding: 34px 21px 0;
  }
  .consultation-container {
    padding: 24px;
  }
  .consultation-container-left {
    width: 400px;
    h2 {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: -0.32px;
    }
    p {
      margin: 15px 0;
      font-size: 20px;
    }
  }
  .consultation-doc p {
    font-size: 24px;
    margin-top: 15px;
  }
}

//phones
@media (max-width: 767px) {
  .poster-content {
    padding: 12px 0 24px;
  }
  .logo {
    width: 44px;
    height: 44px;
    z-index: 6;
  }
  .header-tools {
    z-index: 6;
  }
  .poster-title {
    margin-top: 34px;
    font-size: 40px;
    line-height: 54px;
    span {
      padding: 0 24px 4px 24px;
      line-height: 45px;
    }
  }
  .poster-description {
    margin-top: 34px;
  }
  .poster-description-left {
    width: 220px;
    p {
      font-size: 16px;
    }
  }
  .poster-description-right b {
    font-size: 14px;
  }
  .poster-description-right ul {
    margin-top: 4px;
    gap: 4px;
  }
  .poster-description-right li {
    padding: 4px 8px;
    font-size: 10px;
    line-height: 12px;
  }
  .course-program-tools-sm {
    margin-top: 80px;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    gap: 8px;
    .btn {
      width: 100%;
    }
  }
  .btn {
    padding: 13px 24px;
  }
  .btn-green {
    padding: 8px 24px;
  }
  .poster-img {
    left: initial;
    right: 0;
    height: 63%;
  }
  .nav-menu {
    width: 100%;
    padding: 84px 16px 32px;
    background: var(--Brand-BG, #E0F4FC);
    box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.16);
    height: fit-content;
    transform: none;
    opacity: 0;
    visibility: hidden;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  .lang-toggle.lang-toggle-sm {
    display: flex;
    position: static;
    margin: 0;
    width: 100%;
    a {
      width: 50%;
    }
  }
  .footer-top {
    padding: 16px 0;
  }
  .contact {
    background: var(--gradient-2, linear-gradient(110deg, #5116FA -4.77%, #00BBC7 67.09%));
    padding: 16px;
    .section-title {
      color: var(---colorTextPrimaryWhite, #FFF)!important;
    }
  }
  .section-title {
    font-size: 32px;
    letter-spacing: -1.92px;
  }
  .contact p {
    font-size: 16px;
    line-height: 22px; /* 137.5% */
    color: var(---colorTextPrimaryWhite, #FFF);
  }
  .contact-phone {
    font-size: 28px;
    line-height: 34px; /* 121.429% */
    letter-spacing: -1.92px;
  }
  .social-list {
    margin-top: 8px;
    gap: 8px;
  }
  .social-link p {
    color: var(---colorTextPrimary, #212121)!important;
  }
  .app-container {
    padding: 16px;
    .app-title {
      font-size: 28px;
    }
  }
  .app-caption-top {
    margin-bottom: 16px;
  }
  .app-link {
    padding: 5px 8px;
  }
  .section {
    padding: 24px 0;
  }
  .about-container {
    padding: 16px;
    gap: 16px;
  }
  .about-item-img {
    text-align: center;
  }
  .about-item:nth-of-type(1) .about-item-img img {
    width: 164px;
  }
  .about-item-title {
    text-align: center;
    font-size: 28px;
  }
  .about-item-description {
    text-align: center;
    font-size: 12px;
  }
  .about-item:nth-of-type(2) .about-item-img img {
    width: 102px;
  }
  .app-description {
    font-size: 12px;
  }
  .feature-list {
    margin-top: 16px;
    gap: 8px;
  }
  .feature-list li {
    font-size: 14px;
    br {
      display: none;
    }
  }
  .structure {
    gap: 16px;
  }
  .structure-desc {
    font-size: 16px;
  }
  .program-subtitle {
    margin-top: 16px;
    font-size: 20px;
    line-height: 24px;
  }
  .program-desc {
    font-size: 16px;
    line-height: 22px;
  }
  .program {
    gap: 16px;
  }
  .modules {
    padding: 4px;
  }
  .module {
    padding: 12px;
  }
  .module-head span {
    font-size: 14px;
  }
  .module-head b {
    font-size: 20px;
    line-height: normal;
  }
  .module-body {
    padding-top: 12px;
    gap: 12px;
  }
  .module-body-primary li {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .module-body-secondary b {
    font-size: 16px;
  }
  .module-body-secondary li {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .app-list {
    width: 100%;
    justify-content: center;
  }
  .app-1 .app-caption {
    padding-bottom: 0;
  }
  .app-1 .app-img {
    display: none;
  }
  .experts:before {
    display: none;
  }
  .experts-desc {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
    br {
      display: none;
    }
  }
  .experts-list {
    margin-top: 24px;
  }
  .expert-img {
    width: 84px;
    height: 100px;
  }
  .expert-name {
    font-size: 20px;
    line-height: 24px; /* 120% */
  }
  .expert-speciality {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
  }
  .expert-desc {
    font-size: 12px;
    line-height: 16px; /* 133.333% */
  }
  .expert-detail {
    margin-top: 8px;
    gap: 8px;
  }
  .tariffs-desc {
    margin-top: 8px;
    font-size: 16px;
    line-height: 22px;
  }
  .tariffs-list {
    margin-top: 16px;
  }
  .tariff-card {
    padding: 24px 16px 16px;
  }
  .tariff-badge {
    padding: 8px 16px;
    font-size: 16px;
  }
  .tariffs-price {
    font-size: 32px;
  }
  .tariffs-features {
    margin-top: 24px;
  }
  .for-whom-img {
    display: block;
    order: 1;
    height: 200px;
    border-radius: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .for-whom-caption {
    order: 2;
    padding: 16px;
    border-radius: 24px;
  }
  .for-whom-caption h2 {
    font-size: 32px;
    line-height: 100%; /* 32px */
    letter-spacing: -1.28px;
  }
  .for-whom-caption .green-flower-list {
    margin-top: 16px;
  }
  .green-flower-list li {
    font-size: 14px;
  }
  .for-whom:nth-of-type(2) .for-whom-caption {
    padding: 16px;
  }
  .number-list {
    margin-top: 16px;
  }
  .number-list li p {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .number-list li span {
    left: initial;
    right: -10px;
    top: -20px;
  }
  .for-whom-caption .btn {
    margin-top: 16px;
    width: 100%;
  }
  .faq-desc {
    margin-top: 16px;
    font-size: 16px;
  }
  .faq-list {
    margin-top: 16px;
  }
  .faq-item-head {
    font-size: 16px;
    line-height: 20px;
  }
  .faq-item-head:after {
    right: 16px;
  }
  .faq-item-body {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .lang-toggle {
    display: none;
  }
  .poster-description-right {
    display: none;
  }
  .video {
    padding: 24px 0 0;
  }
  .video-title {
    font-size: 32px;
    padding: 0px 24px 4px 24px;
  }
  .video-container {
    background: url("../img/main/screen-sm.png") no-repeat top/100%;
    width: 345px;
    height: 200px;
    padding: 18px 11px 0;
    margin-top: 16px;
  }
  .consultation-container {
    padding: 16px;
    border-radius: 24px;
    flex-direction: column;
  }
  .consultation-container-left {
    width: 100%;
  }
  .consultation-container-left h2 {
    font-size: 28px;
  }
  .consultation-container-left p {
    margin: 8px 0 16px;
    font-size: 16px;
  }
  .consultation-doc-sm {
    display: flex;
    gap: 16px;
    align-items: center;
    img {
      width: 102px;
      height: 121px;
      flex-shrink: 0;
      border-radius: 140px;
      border: 1px solid var(---colorDivider, rgba(0, 0, 0, 0.12));
      object-fit: cover;
    }
  }
  .consultation-doc-caption {
    p {
      color: var(--Black, #121212);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0;
    }
    span {
      display: block;
      margin-top: 4px;
      color: var(--Purple-Light, #7648C3);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }
  }
  .consultation-social {
    margin-top: 16px;
  }
  .consultation-container-left .btn {
    width: 100%;
    margin-top: 16px;
  }
  .consultation-doc {
    display: none;
  }
  .video-play i {
    width: 31px;
    height: 31px;
  }
}


//hover
@media (hover: hover) {
  .btn-main:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .btn-blue:hover {
    background: #0086b7;
  }
  .btn-red:hover {
    background: #c91000;
  }
  .btn-green:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .footer-link:hover {
    color: var(--Brand-Mama, #00A7E5);
  }
  .footer-link:hover:after {
    opacity: 1;
    visibility: visible;
  }
}


//if touchscreen
@media (hover: none) {
  .app-qr {
    display: none;
  }
}